<!DOCTYPE html>
<html>
<head>
<title>Forgot Password</title>

<style>
body{
    background:#121212;
    color:white;
    font-family:Arial;
}

.container{
    width:400px;
    margin:100px auto;
    background:#181818;
    padding:30px;
    border-radius:10px;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    width:100%;
    padding:10px;
    background:#1DB954;
    color:white;
    border:none;
}
</style>

</head>
<body>

<div class="container">

<h2>Reset Password</h2>

<form method="POST">

<input type="text"
       name="username"
       placeholder="Username"
       required>

<input type="password"
       name="new_password"
       placeholder="New Password"
       required>

<button type="submit">
Reset Password
</button>

</form>

</div>

</body>
</html>